.material-button {
	background: var(--primary-accent);
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.089em;
	padding: 10px;
	outline: none;
	filter: drop-shadow(0 1px 1px #0004);
	transition: all ease .1s;
	/* box-sizing: border-box; */
	position: relative;
	overflow: hidden;
	font-family: inherit;
	font-weight: 500;
	cursor: pointer;
}

.material-button:focus {
	filter: brightness(130%);
	/* border: 1px solid #cf4fba; */
}

.material-button:hover {
	filter: drop-shadow(0 1px 2px #0005) brightness(110%);
}
