.content {
	height: calc(100vh - 70px);
	display: grid;
	grid-template-rows: min-content auto min-content;
	grid-template-areas: "title" "cards" "checkout";
	overflow-y: auto;
}

#title {
	margin: 25px 25px 0;
	grid-area: title;
}

.cart-content {
	padding: 25px;
	grid-area: cards;
}

.card {
	background: var(--dark-accent);
	transition: all ease .3s;
	filter: drop-shadow(0 3px 4px #0005);
	overflow: hidden;
	width: 100%;
	height: 200px;
	border-radius: 5px;
	margin-bottom: 15px;
	position: relative;
	display: grid;
	grid-template-columns: 200px auto 400px;
	grid-template-areas: "image description info";
}

.card a {
	color: var(--text);
	text-decoration: none;
}

.img-wrapper, .description {
	pointer-events: none;
}

.card .img-wrapper {
	height: 200px;
	width: 200px;
	background: white;
	position: relative;
	grid-area: image;
}

.img-wrapper img {
	width: 100%;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}

.text {
	padding: 15px;	
	grid-area: description;
	overflow: hidden;
	width: 100%;
}

.text .name {
	padding-bottom: 10px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.description {
	margin:0;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.info {
	align-self: center;
}

.amount {
	margin-bottom: 15px;
}

.info > *{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "name value"
}

.info h5, .info h4 {
	margin: 0;
	align-self: center;
}

.info h5 {
	grid-area: name;
	text-align: right;
	margin-right: 25px;
}

.info h4, .info .number-picker {
	grid-area: value;
}

.number-picker {
	width: 120px;
}

.remove {
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 25px;
	margin: 5px;
	background: transparent;
	border: none;
	color: var(--text);
	pointer-events: all;
	cursor: pointer;
	border-radius: 5px;
	transition: all ease 0.1s;
}

.remove:hover {
	background: #fff5;
}

footer {
	grid-area: checkout;
	background: var(--menus);
	position: relative;
	width: 100%;
	bottom: 0;
	padding: 25px;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
}

.outer {
	width: 400px;
	position: relative;
}

.items {
	width: min-content;
	margin-left: 55px;
}

.total {
	margin-bottom: 15px;
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: auto auto;
	align-items: baseline;
}

.total * {
	margin: 0;
	white-space: nowrap;
}

.total :first-child {
	margin-right: 25px;
	text-align: right;
}

.actions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5px;
}

#buy {
	background: var(--secondary-accent);
}