:root {
	--background: #131522;
	--primary-accent: #f175ff;
	--secondary-accent: #72ab6c;
	--dark-accent: #0e5585;
	--text: #fdf9ff;
	--text-secondary: #c0c0c0;
	--input-border: #fffa;
	--menus: #1f1e24;
	--error: #B00002;
	--error-text: #e04043;
	--input-border: #fffa;
}
