.content{
	display: grid;
	grid-template-areas: 
		"nav nav"
		"sidebar products";
	grid-template-columns: 300px auto;
	grid-template-rows: 70px auto;
}

.sidebar {
	width: 300px;
	padding: 10px;
	float: left;
	height: calc(100vh - 70px);
	background-color: var(--menus);
	top: 70px;
	position: fixed;
	box-sizing: border-box;
	overflow: auto;
}

@media screen and (max-width: 961px){
	.content {
		grid-template-columns: auto;
		grid-template-areas: "nav" "products";
	}
	.sidebar, .search, .icons{
		display: none;
	}
}
.sidebar h4 {
	margin: 15px 0 0;
}

.sidebar h5 {
	margin: 15px 0;
}

.filter-group {
	border-bottom: 1px solid #fff1;
}

#filter-btn {
	margin-top: 15px;
	left:calc(50% - 10px);
	transform: translateX(-50%);
}

.product-list {
	position: relative;
	grid-area: products;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 280px));
	justify-content: center;
	height: calc(100vh - 70px);
	overflow-y: scroll;
}

.product-list h4 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%)
}

.product {
	border-radius: 5px;
	background: var(--dark-accent);
	width: 250px;
	height: 370px;
	overflow: hidden;
	filter: drop-shadow(0 3px 4px #0005);
	margin: 15px auto;
	cursor: pointer;
	transition: all ease 0.3s;
	position: relative;
}

a {
	text-decoration: none;
}

.product * {
	pointer-events: none;
	color: var(--text);
}

.product .img-wrapper {
	position: relative;
	width: 100%;
	padding-top: 100%;
	background-color: white;
}

.product img {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	width: 100%;
}

.product span {
	z-index: -100;
}

.product h5, .subtitle1, .body2 {
	margin: 5px;
	margin-bottom: 0;
}

.product h5 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product .body2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.product:hover {
	transform: translateY(-10px);
	filter: drop-shadow(0 13px 7px #0005);
}
