@import 'colors.css';

@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Medium.ttf');
	font-weight: 500;
}

body {
	margin: 0;
}

.preload * {
	transition: none !important;
}

html{
	background-color: var(--background);
	color: var(--text);
	font-family: Roboto, sans-serif;
}

h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-weight: 300;
	font-size: 96px;
	letter-spacing: -0.014em;
	line-height: 112px;
}

h2 {
	font-weight: 300;
	font-size: 60px;
	letter-spacing: -.008em;
	line-height: 72px;
}

h3 {
	font-size: 48px;
	line-height: 56px;
}

h4 {
	font-size: 34px;
	line-height: 36px;
}

h5 {
	font-size: 24px;
	letter-spacing: 0.0075em;
	line-height: 24px;
}

h6 {
	font-size: 20px;
	letter-spacing: 0.0075em;
	line-height: 24px;
}

.subtitle1 {
	font-size: 16px;
	letter-spacing: 0.009em;
	line-height: 24px;
}

.subtitle2 {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.007em;
	line-height: 24px;
}

p, .body1 {
	font-size: 16px;
	letter-spacing: 0.031em;
	line-height: 24px;
}

.body2 {
	font-size: 14px;
	letter-spacing: 0.018em;
	line-height: 20px;
}

.caption {
	font-size: 12px;
	letter-spacing: 0.033em;
	line-height: 16px;
}

.overline {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	line-height: 16px;
}

.header {
	background: var(--menus);
	position: fixed;
	top:0;
	z-index: 100;
	height: 70px;
	width: 100vw;
	filter: drop-shadow(0 3px 6px #0005);
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 10px;
	padding-right: 0;
}
.header a {
	color: var(--text);
	text-decoration: none;
}
.nav-spacer {
	height: 70px;
	position: relative;
	top:0;
}

.search {
	margin-bottom: 15px;
	width: 50%;
	position: relative;
}

.search .material-outlined-textfield {
	width: 86%;
}

.search .material-button {
	width: 15%;
	height: 40px;
	position: absolute;
	right: 0;
	top:15px;
}

.search .material-outlined-textfield label {
	background: var(--menus) !important;
}

.header img {
	height: 40px;
	padding: 15px;
	transition: all ease 0.3s;
	cursor: pointer;
}

.header img:hover {
	background-color: #fffa;
}