<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/ripple.css">
		<link rel="stylesheet" href="/stylesheets/button.css">
		<link rel="stylesheet" href="/stylesheets/outlined-textfield.css">
		<link rel="stylesheet" href="/stylesheets/checkbox.css">
		<link rel="stylesheet" href="/stylesheets/style.css">

		<script src="/javascript/main.js"></script>

		{{ imports }}

		<title>{{ title }} | MechShop</title>
	</head>
	<body>
		{{ body }}
		<script src="/javascript/ripple.js"></script>
	</body>
</html>