{% extends 'templates/base.html' %}

{% block title %}Kosár{% endblock title %}

{% block imports %}
	<link rel="stylesheet" href="/stylesheets/cart.css">
{% endblock imports %}

{% block body %}
	{% include 'templates/navbar.html' %}
	<div class="content">
		<h4 id="title">Kosár</h4>
		<div class="cart-content">
			{{ cards }}
		</div>

		<footer>
			<div class="outer">
				<div class="items">
					<div class="total">
						<h5>Végösszeg</h5>
						<h4 id="total-price">{{ total }} Ft</h4>
					</div>
					<div class="actions">
						<button class="material-button" id="back" onclick="window.location = '/shop/'">Vissza</button>
						<form method="POST">
							<input type="hidden" name="action" value="checkout">
							<button class="material-button" id="buy">Vásárlás</button>
						</form>
					</div>
				</div>
			</div>
		</footer>
	</div>
{% endblock body %}
{% block scripts %}
	<script src="/javascript/cart.js"></script>
{% endblock scripts %}
