<div class="card">
	<a title="{{name}}" href="/shop/product/{{slug}}">
		<div class="img-wrapper"><img src="/images/boards/{{slug}}/main.png" alt="Title"></div>
	</a>
	<div class="text">
		<a title="{{name}}" href="/shop/product/{{slug}}">
			<h3 class="name">{{ name }}</h3></a>
		</a>
		<p class="description">{{ description }}</p>
	</div>
	<div class="info">
		<div class="amount">
			<h5>Mennyiség</h5>
			<form method="POST">
				<div class="number-picker">
						<button type="button" class="ripple decrease">-</button>
						<input type="number" class="amount-input" name="amount" value="{{count}}" min=1 max=100>
						<button type="button" class="ripple increase">+</button>
				</div>
				<input type="hidden" name="slug" value="{{slug}}">
			</form>
		</div>
		<div class="subtotal">
			<h5>Összeg</h5>
			<h4>{{ subtotal }} Ft</h4>
		</div>
	</div>
	<button class="remove" onclick="remove('{{slug}}')">✕</button>
</div>
