{% extends 'templates/base.html' %}

{% block title %}Kosár{% endblock title %}

{% block imports %}
	<link rel="stylesheet" href="/stylesheets/cart.css">
{% endblock imports %}

{% block body %}
	<div class="content">
		{% include 'templates/navbar.html' %}
		<div class="cart-content">
			<h4 id="title">Kosár</h4>
			{{ cards }}
		</div>

		<footer>
			<div class="items">
				<div class="total">
					<h5>Végösszeg</h5>
					<h4>{{ total }} Ft</h4>
				</div>
				<div class="actions">
					<button class="material-button" id="back">❮ Tovább válogatok</button>
					<button class="material-button" id="buy">Vásárlás ❯</button>
				</div>
			</div>
		</footer>
	</div>
{% endblock body %}