<nav class="header">
	<a href="/shop">
		<h3>MechShop</h3>
	</a>
	<div class="search">
		<form action="/shop" method="GET" id="search-form">
			<div class="material-outlined-textfield">
				<input type="text" name="q" id="search" placeholder=" " autocomplete="off">
				<label for="search">
					Keresés...
				</label>
			</div>
			<button class="material-button">Mehet</button>
		</form>
	</div>
	<div class="icons">
		<a href="/profile/"><img src="/images/profile.svg" alt="Profile"></a>
		<a href="/cart"><img src="/images/cart.svg" alt="Cart"></a>
	</div>
</nav>
<script src="/javascript/navbar.js"></script>
<div class="nav-spacer"></div>
