{% extends 'templates/base.html' %}

{% block title %}{{name}}{% endblock title %}
{% block imports %}
	<link rel="stylesheet" href="/stylesheets/product.css">
{% endblock imports %}

{% block body %}
	{% include 'templates/navbar.html' %}
	<div class="content">
		<div class="images">
			<div class="main"><img src="/images/boards/{{slug}}/main.png"></div>
			<div class="all-images">{{images}}</div>
		</div>
		<div class="info">
			<h2>{{name}}</h2>
			<h3>{{price}} Ft</h3>
			<form>
				<p class="overline">Mennyiség:</p>
				<div class="number-picker">
					<button type="button" class="ripple" onclick="dec()">-</button>
					<input type="number" id="amount" class="amount-input" value="1" min=1 max=100>
					<button type="button" class="ripple" onclick="inc()">+</button>
				</div>
				<button type="button" id="add-cart" class="material-button">Kosárba</button>
			</form>
			<div class="accordion">
				<div>
					<input type="checkbox" name="specs" id="description">
					<label for="description" class="ripple">Leírás</label>
					<div class="accordion-content">
						<p class="body1">{{description}}</p>
					</div>
				</div>
				<div>
					<input type="checkbox" name="specs" id="spec-table">
					<label for="spec-table" class="ripple">Specifikáció</label>
					<div class="accordion-content">
						<table>
							<tr>
								<td>Méret</td>
								<td>{{size}}</td>
							</tr>
							<tr>
								<td>USB csatlakozás</td>
								<td>{{usb}}</td>
							</tr>
							<tr>
								<td>Háttérvilágítás</td>
								<td>{{backlight}}</td>
							</tr>
							<tr>
								<td>Bluetooth</td>
								<td>{{bluetooth}}</td>
							</tr>
							<tr>
								<td>Multimédia gombok</td>
								<td>{{mediakeys}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const amount = document.getElementById('amount');

		function dec() {
			if (amount.value>1) {
				amount.value--;
			}
		}
		function inc() {
			if (amount.value < 100) {
				amount.value ++;
			}
		}
	</script>
{% endblock body %}
